*{
  background-color: blueviolet;

}
h1 {
  font-size: 36px;  
  color: #fcfcfc;     
  text-align: center; /* Align text (left, center, or right) */
  font-weight: bold; /* Make text bold */
  text-transform: uppercase; /* Optional: Convert text to uppercase */
  margin: 20px 0;   
}
.saro {
background-color: blueviolet;

}